.container {
    width: 1300px;
    margin: 0 auto;
    background: red;
}
.btn-primary{
    
    width: 5px;
    height: 40px;
    /* margin-left:     110px; */
} 
img {
    width: 100px;
    height: 50px;
}